.todo {
  color: #333;
  text-align: center;
  min-width: 320px;
  width: 100%;
  max-width: 500px;
  height: 90vh;
  margin: 5vh auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.todo__title {
  font-size: 80px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  opacity: .5;
}

.todo__wrap {
  display: flex;
  flex-direction: column;
}

.todo__form {
  margin-bottom: 20px;
  position: relative;
}

.todo__input {
  width: 100%;
  padding: 5px 30px 5px 20px;
  box-sizing: border-box;

  &::placeholder {
    opacity: 1;
  }
}

.todo__form-submit {
  width: 30px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.todo__list {
  display: grid;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.todo__item {
  display: flex;
  transition: .2s;

  &--checked {
    color: #fff;
    text-decoration: line-through;
    background-color: limegreen;
  }
}

.todo__text {
  flex: 1;
  padding: 5px 20px;
  text-align: left;
  border: 1px solid brown;
}

.todo__button {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
