:root {
  --font: "Roboto", "Arial", sans-serif;
  --white: #fff;
  --black: #000;
  --base-black: #333;
  --grey: #ccc;
  --simple-grey: #f1f1f1;
  --red: #dc3545;
  --green: #3ac47d;
  --blue: #0069d9;
}

body {
  color: var(--base-black);
  font-family: var(--font);
  margin: 0;
  min-width: 320px;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
